body{
    background-color: rgb(19, 12, 30);
    text-align: center;
}

.container{
    display: block;
    text-align: center;
    margin: auto;
}

h1{ 
    text-align: center;
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
    color: rgb(161, 154, 154);
    margin: 5%;
}

.h2-maxlevel{
    text-align: center;
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
    color: rgb(84, 24, 24);
    margin: 5%;
}

.btn{
    margin: 15px;
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 20%;
    display: inline-block;
}

.max-level{
    text-align: center;
    margin: auto;
}



.green{
    background-color: green;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.pressed{
    background-color: grey;
    box-shadow: 0 0 20px white;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

